
body {
    background-color: darkslategray;
    color: ghostwhite;
    background: rgba(19, 19, 19, 0.6);
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
}


img {
    filter: brightness(90%) contrast(115%) opacity(67%) grayscale(0%);
    /* filter: contrast(70%) */
    /* filter: opacity(10%); */
  }


/******************************TOP NAV INSERT *****************************/
.topnav {
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    z-index:100;
    opacity: 90%;
    position:fixed;
    display: flex;
    width: 100vw;
    justify-content: stretch;
  }
  
  .topnav a {
    flex: 1;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:  #fa9403;
    color: black;
  }

  .active {
    background-color:#0485b1;
    color:   #fa9403;
  }
  
  .topnav .icon {
    display: none;
  }
/******************************TOP NAV INSERT *****************************/

.main-center {

    font-family: "futura-pt";
    text-rendering: optimizeLegibility;
    /* position: relative; */
    padding: 40px 60px 60px 60px;
    box-sizing: border-box;
    height: 100vh;
    text-align: center;
    position: relative;
    margin: 0;
    
}

.div-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    text-align: center;
    top: 53%;
    box-sizing: border-box;
    transform: translatey(-50%);
    left: 60px;
    right: 60px;
    width: auto;
    margin: 0 auto;
    max-width: 1880px;
}



#page-header {
    max-width: 880px;
    font-size: 4.0vw;
    
    text-transform: uppercase;
    letter-spacing: .14em;
    font-weight: 500;
    font-style: normal;
    /* color: #fff; */
    line-height: 1em;
    margin-top: 0em;
    display: inline-block;
    /* background-color: rgba(0,0,0,0.02);
    border-radius: 55px; */
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    padding-left: 0.2em;
    padding-right: 3.15em;
}

h2 {
    max-width: 1800px;
    /* text-rendering: optimizeLegibility; */
    text-align: center;
    margin: 0;
    margin-top: -.4em;
    margin-bottom: 0.0em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0em;
    font-family: "futura-pt";
    font-size: 12vw;
    line-height: .90em;
    text-transform: none;
    letter-spacing: 0.06em;
    font-weight: 500;
    font-style: normal;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0,0,0,0.3); */
    /* color: #fff; */
    display: inline-block;
   
}

.push-left {
    padding-right: .5em;
}

.push-right {
    padding-left: 1.5em;
}

.text-content {
    /* background-color: rgba(0,0,0,0.1); */
    padding-left: 0 .02em;
   
   /* -webkit-text-stroke-width: 1px; */
   /* -webkit-text-stroke-color: rgba(0,0,0,0.2); */
   text-shadow: 1px 1px 4px rgba(0,0,0,0.9);
   padding-right: 0.02em;  
   max-width: 50%;
   margin:auto;
   font-size:1.1em;
   border-radius:  15px;
   margin-left: 1px;
   margin-right: 1px;
   margin: auto;  

   line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
}


.mail {
    margin-top:1em;
}
.mail a {
    padding: 1.15em 1.50em 1.15em 1.55em;
    color: white;
    background-color: rgba(0,0,0,0.2);
    border: 2px solid #fff;
    /* margin-left: 0; */
    transition: color 170ms ease-in-out;
    border-color: 170ms ease-in-out;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 600;
    font-style: normal
}

.mail a:hover {
    background-color: ghostwhite;
    color: rgb(70,70,70);
}

@media only screen and (max-width: 750px) {
    .text-content {
        max-width: 75%;
    }
}

@media only screen and (max-width: 550px) {
    .text-content {
        max-width: 85%;
    }
    .div-center {
        left:25px;
        right: 25px;
    }
}
@media only screen and (max-width: 500px) {
     body {
        font-size: 1.0em;
    }
    .text-content {
        
        color: red;
    }
    
    .topnav {
        flex-wrap: wrap; 
    }
    .topnav > a {  
      flex: 1 1;  
    }  
    .mail {
        margin-top:1.5em;
    }
    #exposition {color: white}
  }

@media only screen and (max-width: 450px) {
    .text-content {
        max-width: 90%;
    }
}

@media only screen and (max-width: 400px) {

    .div-center {
        left:25px;
        right: 25px;
    }
    .text-content {
        max-width: 95%;
    }
}

@media only screen and (max-width: 370px) {
    body { 
        font-size: .8em;
    }
    .text-content {
        max-width: 98%;
    }
}

@media only screen and (max-width: 340px) {
    body { 
        font-size: .8em;
    }

    .text-content {
        max-width: 99%;
    }
}

@media only screen and (max-width: 326px) {
    .div-center {
        top:50%;
        left: 20px;
        right: 20px;
    }
}













